._footer{
    height: 216px;
    background-image: linear-gradient(-180deg, #7CBC2E 0%, #429321 100%);
    text-align: center;
    color:#fff;
    padding: 58px 0 0 0;
    p{
        line-height: 36px;
        font-size: 16px;
    }
}
