_notes
dwsync.xml
node_modules
.DS_Store
**/.DS_Store
*.log
bower_components
*/admin/css/test/*
*/admin/js/test/*
*/admin/html/test/*
ucloud/admin/**/*.*
ucloud/lib/**/*.*
ucloud/adminapp/**/*.*
.idea/
package-lock.json
.vscode/
dist
dist/*
release
release/*
/.vs/CommunityManageWeb/v15/.suo
/.vs
