*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body,html,#app {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    font-family:'幼圆';
    font-weight: normal;
}
.cell{
    text-align: center;
    font-size: 12px;
}
.toolbar {
    background: #f2f2f2;
    padding: 10px;
    margin: 10px 0px;
  }