._fill_order{
  width: 1200px;
  margin-left: 17%;
  -webkit-box-shadow: 0 10px 10px -6px rgba(0,0,0,0.30);
  -moz-box-shadow: 0 10px 10px -6px rgba(0,0,0,0.30);
  box-shadow: 0 10px 10px -6px rgba(0,0,0,0.30);
  h3{
    font-size: 24px;
    color: #296F2C;
    margin: 1.3% 0;
  }
  ._fill_order_content{
    height: 862px;
    padding-top: 38px;
    padding: 3.1% 0 0 3.1%;
    background: #FEFEF4;
    .ant-form{
      box-shadow : 0 0px 0px 0px;
    }
    form{
      width: 75%;
      .ant-row{
        display: flex;
        .ant-col-sm-8{
          width: 13%;
        }
        .ant-col-sm-16{
          width: 87%;
          padding-left: 10px;
          .ant-form-item-children{
            width: 60%;
          }
          .ant-form-explain{
            width: 40%;
            line-height: 39px;
            padding-left: 3%;
          }
        }
        .ant-form-item-control{
          display: flex;
        }
      }
      ._content_personnel{
        display: flex;
        flex-wrap: wrap;
        p{
          width: 100%;
          margin-left: 14%;
          line-height: 26px;
        }
        ._label_content{
          width: 12%;
        }
        .ant-input{
          width: 80%;
          margin-left: 20px;
        }
        ._order_content_personnel{
          width: 124px;
          height: 40px;
          background: #EFF3AE;
          border: 1px solid #D6D3C1;
          font-size: 18px;
          color: #936A1E;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 10px;
          span{
            width: 75%;
            padding-left: 10px;
          }
          i{
            width: 25%;
          }
        }
        .ant-form-item-label{
          color: rgba(0, 0, 0, 0.85)
        }
      }
      .ant-col-sm-offset-8{
        margin-left: 13%;
        .ant-form-item-children{
          width: 100%!important;
          button{
            width: 200px;
            height: 40px;
            background-image: linear-gradient(-180deg, #F8A374 0%, #E78047 100%);
            border: 1px solid #EEA277;
            border-radius: 1px;
            span{
              color : #fff;
            }
          }
          span{
            font-size: 16px;
            color: #936A1E;
            margin-left: 5%;
          }
        }
      }
      ._form_address_details{
        .ant-select{
          width: 30%;
          margin-right: 3.3%;
        }
      }
      ._Type_of_work{
        .ant-select{
          width: 35%;
        }
      }
      ._Type_of_work_Tips{
        display: block;
      }
    }
  }
}